@model IEnumerable<Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employees";
}

<a asp-controller="Employee"
        asp-action="Create"
        class="btn btn-outline-primary btn-lg w-100"
        type="button">
        Create new Employee
</a>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach(Employee employee in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@(string.IsNullOrEmpty(employee.Image) 
                            ? "https://images.unsplash.com/photo-1628313388777-9b9a751dfc6a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            : employee.Image)"
                            onerror="this.src='https://images.unsplash.com/photo-1628313388777-9b9a751dfc6a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D';"
                            width="100%" height="250" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@employee.FullName</p>
                            <p class="card-text">@(string.IsNullOrEmpty(employee.Email) ? "Email not provided" : employee.Email)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                </div>
                                <small class="text-muted">@employee.Id</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
