@model IEnumerable<Major>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Majors";
}

<a asp-controller="Major"
        asp-action="Create"
        class="btn btn-outline-primary btn-lg w-100"
        type="button">
    Create new Major
</a>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (Major major in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">@major.Name</p>
                            <p class="card-text">@major.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Major" asp-action="Details" asp-route-id="@major.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a asp-controller="Major" asp-action="Edit" asp-route-id="@major.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a asp-controller="Major" asp-action="Delete" asp-route-id="@major.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                </div>
                                <small class="text-muted">@major.Id</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
